@import '@/Presentations/Styles/Colors.scss';

.container {
  display: flex;
  gap: 0.5rem;
  background-color: $gray-100;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}
