@import '@/Presentations/Styles/Colors.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;

  padding: 0.25rem 1rem;
  background-color: $gray-200;
  border-bottom: 1px solid $gray-300;
}
